.input-group-text {
    background-color: white;
    /* Fondo blanco */
    border-right: none;
    /* Sin borde a la derecha */
}

.form-control {
    border-left: none;
    /* Sin borde a la izquierda */
}

.search-container {
    width: 100%;
    height: 100px;
    max-width: 600px;
    min-width: 300px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-control {
    width: 100%;
    height: 50px;
    padding: 30px;
    /* Espacio para el ícono */
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.input-group .icon {
    position: absolute;
    left: 8px;
    margin-right: 100%;
    /* right: 10px; */
    color: #007bff;
    pointer-events: none;
}

.input-group .icon svg {
    fill: var(--MediControl-color-primary);
}

.SearchAndAdd {
    display: flex;
    justify-content: start;
    align-items: center;
}


/* General styles for buttons */

.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--MediControl-color-primary);
    color: #fff;
    margin-left: 2%;
}

.btn-primary {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--MediControl-color-primary);
    color: #fff;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 15px;
}

.btn-warning {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--MediControl-color-warning);
    color: #fff;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 15px;
}

.btn-warning:hover {
    background-color: var(--MediControl-color-primary);
}

.btn-danger {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--MediControl-color-danger);
    color: #fff;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 15px;
}

.btn-success {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--MediControl-color-primary);
    color: #fff;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 15px;
}

.btn-secondary {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--MediControl-color-secondary);
    color: #fff;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 15px;
}

.btn:hover {
    background-color: var(--MediControl-color-secondary);
}

.pacientesCards {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.pacienteCardMasculino {
    display: flex;
    justify-content: space-around;
    background-color: var(--MediControl-color-primary);
    color: #fff;
    padding: 3%;
    border-radius: 20px;
}

.pacienteCardFemenino {
    display: flex;
    justify-content: space-around;
    background-color: #f96ccf;
    color: #fff;
    padding: 5%;
    border-radius: 20px;
}

.pacienteCardImagen {
    display: flex;
    justify-content: start;
}

.pacienteCardInfo {
    margin-left: 10%;
    color: white;
}

.apartadoPacienteMasculino {
    background-color: var(--MediControl-color-primary);
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.apartadoPacienteFemenino {
    /* background-color: #fb1fb9; */
    background-color: var(--MediControl-color-primary);
    color: white;
    padding: 1%;
    border-radius: 20px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 0.5%;
}

.tabTitleEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1500px) {
    .pacientesCards {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .pacientesCards {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }
}


/* .input-group .icon svg {
    fill: var(--MediControl-color-primary);
    width: 20%;
    height: 20%;
} */