/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --MediControl-color-primary: #00A79D;
    --MediControl-color-primary-hover: #006F68;
    --MediControl-color-warning: #FFB800;
    --MediControl-color-warning-hover: #FFB800;
    --MediControl-color-secondary: #FF4F00;
    --MediControl-color-secondary-hover: #FF6E2B;
    --MediControl-color-tertiary: #E0E0E0;
    --MediControl-color-tertiary-hover: #5C5C5C;
    --MediControl-color-white: #FFFFFF;
    --MediControl-color-success: #28A745;
    --MediControl-color-success-hover: #008C21;
    --MediControl-color-danger: #DC3545;
    --MediControl-color-danger-hover: #D3182B;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

a {
    display: flex;
    text-decoration: none;
}

.globalContentContainer {
    padding-left: 15vh;
}

.main {
    padding-top: 5vh;
    padding-right: 5vh;
}

@media (max-width: 900px) {
    .globalContentContainer {
        padding-left: 8vh;
    }
}

@media (max-width: 500px) {
    .globalContentContainer {
        padding-left: 8vh;
    }
}